body {
    background-color: #2c3e50;
}

h1 {
    color: white;
}

h2 {
    background-color:yellow;
    border: 3px solid black;
}

h3 {
    color: yellow;
}

li{
    color: white;
}

li#astronomy-class {
    color: red;
}