* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: darkgray;
    min-height: 100vh;
    display: flex; 
    gap: 0px 15px;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    /*flex-wrap: wrap;*/
}

.item {
    width: 200px;
    height: 70px;
    border: 2px solid black;
    background-color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item1{
    order: 1;
  align-self: flex-start;
}
.item2{
    order: 2;
}
.item3{
    order: 3;
}

@media (max-width:390px) {
    item2{
        flex: 1 0 620;
    }
}