*{
    padding: 0;
    margin: 0;
}

.container {
    box-sizing: border-box;
    min-height: 100vh;
    background-color: #181818;
    display: grid;
    grid-template-columns: 1fr 2fr 400px;
    grid-auto-rows: minmax(65px, auto);
}

header{
    background-color:#202020; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1/4;
    padding: 10px 15px;
}

header a {
    text-decoration: none;
}

.logo{
    width: 140px;
}

.search-div{
    display: flex;
    align-items: center;
}

.search{
    width: 350px;
    height: 45px;
    background-color: #121212;
    border: none;
    outline: none;
    color: white;
    padding: 0px 10px;
}

.search::placeholder{
    color: #747474;
    font-size: 14px;
}

.lupa { 
    width: 60px;
    height: 45px;
    background-color: #313131;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.lupa img {
    width: 25px;   
}

.item{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #bbb;
    cursor: pointer;
}

.perfil-itens{
    list-style: none;
    display: flex;
    gap: 10px;
}

.burguer{
    display: none;
}

.main-content{
    background-color:rgba(0, 0, 255, 0.328);
    grid-column: 1/3;
    grid-row: 2/9;
}

.video{
    width: 70%;
    height: 400px;
    background-color: #bbb;
    margin: 0px auto;
    margin-top: 20px;
}

.title{
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    margin-left: 15%;
    margin-top: 10px;
    padding-top: 10px 0px;
}

.interacao{
    width: 70%;
    height: 45px;
    background-color: #bbb;
    margin: 0 auto;
    margin-top: 10px;
}

.linha{
    width: 70%;
    height: 1px;
    background-color: #747474;
    margin: 10px auto;
}

.info-canal{
    width: 70%;
    height: 100px;
    background-color: #bbb;
    margin: 0 auto;
}

.side-bar{
    background-color: rgba(0, 128, 0, 0.375);
    grid-row: 2/9;
}
